ansicon==1.89.0
blessed==1.21.0
botocore==1.39.12
chalice==1.32.0
click==8.2.1
colorama==0.4.6
editor==1.6.6
inquirer==3.4.0
jinxed==1.3.0
jmespath==1.0.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
readchar==4.2.1
runs==1.2.2
six==1.17.0
urllib3==2.5.0
wcwidth==0.2.13
xmod==1.8.1
